<h1>Edit Profile</h1>

<%= form_with model: @user, url: profile_path, local: true do |f| %>
  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :bio %><br>
    <%= f.text_area :bio %>
  </div>

  <div>
    <%= f.label :avatar %><br>
    <%= f.file_field :avatar %>
    <% if @user.avatar.attached? %>
      <p>Current picture:</p>
      <%= image_tag @user.avatar.variant(resize_to_limit: [100, 100]) %>
    <% end %>
  </div>

  <%= f.submit "Update Profile" %>
<% end %>
