<h1>All Posts</h1>

<%= link_to "New Post", new_post_path, class: "btn btn-primary" %>

<%# <%= link_to "Followers", follow_request_path, class: "btn btn-primary" %>


<% @posts.each do |post| %>

  <div style="margin-bottom: 2em; padding: 1em; border: 1px solid #ccc;">

    <!-- Post content -->
    <%= avatar_for(post.user, size: 50) %>
    <p><strong><%= post.user.email %></strong> posted:</p>
    <p><%= post.content %></p>

    <!-- Likes -->
    <p>
      <strong><%= pluralize(post.likes.count, "like") %></strong>
      <% if current_user.likes.exists?(post_id: post.id) %>
        <%= button_to "Unlike", post_like_path(post), method: :delete %>
      <% else %>
        <%= button_to "Like", post_like_path(post), method: :post %>
      <% end %>
    </p>

    <!-- Comments -->
    <div style="margin-top: 1em;">
      <strong>Comments:</strong>
      <% if post.comments.any? %>
        <ul>
          <% post.comments.each do |comment| %>
            <li><strong><%= comment.user.email %>:</strong> <%= comment.content %></li>
          <% end %>
        </ul>
      <% else %>
        <p>No comments yet.</p>
      <% end %>

      <!-- Comment form -->
      <%= form_with model: [post, Comment.new], local: true do |f| %>
        <%= f.text_field :content, placeholder: "Write a comment...", size: 50 %>
        <%= f.submit "Comment" %>
      <% end %>
    </div>

  </div>
<% end %>

<%= button_to "Log out", destroy_user_session_path, method: :delete %>

<%= link_to "Followers", follow_requests_path, class: "btn btn-primary" %>

<%= link_to "All Users", users_path, class: "btn btn-primary" %>

